header{
    height: 80px;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    background:white;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav{
    height:inherit;
    display: flex;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.logo{
    height: 30px;
}
.logo p{
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    vertical-align:center;
    color: black;
    
}
.icono{
    display: none;
    color: rgb(0, 0, 0);
    font-size:20px;
    padding: 20px 20px;
}
.icono:hover{
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: midnightblue;
    font-size: 16px;
    padding: 10px 10px;
}
.btn {
	font-size: .9em;
	font-weight: 200;
	color: white;
    background: midnightblue;
	padding: 8px 30px;
	border: 1px solid gray;
	transition-duration: .3s;
	transition-property: background border;
}
@media  screen and (max-width:600px){
    .icono{
        display: block;
    }
    .menu{
        position:fixed;
        top:80px;
        background:rgb(118, 121, 126);
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
    }
    .menu a{
        display: inherit;
        background:rgb(118, 121, 126);
        border:1px solid white;
        text-align: left;

    }  
}
